.headerAc{
    width: 100%;
    height: 70px;
}

.AcHead{
    background:  linear-gradient(93.82deg, #8BD5D3 0%, #575DB7 35.24%, #B856B8 96.78%);;
    width: 200px;
    height: 70px;
    text-align: center;
    float: left;
    line-height: 60px;
}

.Headitem{
    background-color: #ffffff;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    transition: all .3s ease-in;
    border-left: 1px solid rgba(0, 0, 0, 0.24);
    border-right: 1px solid rgba(0, 0, 0, 0.24);
}

.Headitem:hover {
    background-color: #FAFAFA;
    height: 94%;
}

.Headitem1{
    background-color: #FAFAFA;
    height: 94%;
    font-size: 15px;
    font-weight: 600;
    transition: all .3s ease-in;
    border-left: 1px solid rgba(0, 0, 0, 0.24);
    border-right: 1px solid rgba(0, 0, 0, 0.24);
}

.Acoutsbody{
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.288);
}

.bodyheadAc{
    height: 150px;
    width: 100%;
}

.iconAcL{
    position:absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.iconfilter{
    width: 30px;
    height: 30px;
}

.inputAc{
    height: 40px;
    width: 400px;
    border: 0;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #8D8F8F;
    background-color: #FAFAFA;
    outline: none;
}

.seachAc{
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    height: 50px;
    width: 30%;
    /* background-color: #B856B8; */
}

.btnfilter{
    float: left;
    background: #FFFFFF;
    border: 1px solid #00000077;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.iconfilter{
    float: left;
    margin: 6px;
    margin-left: 18px;
}

.filtertitle{
    float: left;
    line-height: 35px;
}

.creatAc{
    float: right;
    background: linear-gradient(93.82deg, #8BD5D3 0%, #575DB7 35.24%, #B856B8 96.78%);
    height: 50px;
    width: 150px;
    margin: 30px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: #FAFAFA;
    cursor: pointer;
}

.line2{
    margin-top: 10px;
}

.shownumber{
    color: #8D8F8F;
    margin-top: 20px;
    font-size: 15px;
}

table{
    width: 100%;
    text-align: left;
}

th{
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.iconsort{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.iconrestore{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}

td{
    height: 50px;
    font-size: 15px;
    background-color: #FAFAFA;
    margin: 0;
}

.nameAc{
    font-size: 15px;
    font-weight: 600;
    margin-left: 60px;
}

.iconrecyclebin{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.shownumberEmploy{
    float: right;
    margin: 40px;
    font-size: 16px;
    color: #8D8F8F;;
}