.backgroundBooking{
    width: 330px;
    height: 330px;
    float: left;
}

.bookingService{
    margin-left: 20px;
}

.bookingcontainer{
    width: 300px;
    padding: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(93.82deg, #8BD5D3 0%, #575DB7 35.24%, #B856B8 96.78%);
    border-image-slice: 1;
    margin: 10px;
}

.btnaddbooking{
    background-color: #ffff;
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border: 3px solid transparent;
    border-image: linear-gradient(93.82deg, #8BD5D3 0%, #575DB7 35.24%, #B856B8 96.78%);
    border-image-slice: 1;
    font-weight: 600;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.backgroundBookingdetail{
    float: left;
    width: 300px;
    padding: 10px;
    margin: 60px;
    border: 3px solid transparent;
    border-image: linear-gradient(93.82deg, #8BD5D3 0%, #575DB7 35.24%, #B856B8 96.78%);
    border-image-slice: 1;
}

.Bookingdetail{
    border: 2px solid rgb(49, 204, 49);
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
}

.titalbooking{
    margin-bottom: 10px;
    font-weight: 600;
}

.bookingtital1{
    font-weight: 600;
}

.bookingdatetime{
    font-size: 13px;
}

.icondeletebooking{
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

.bookingheder{
    margin-left: 20px;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
}