.homelogo {
    position: absolute;
    width: 100px;
    height: 70px;
    top: 20px;
    cursor: pointer;
    margin-left: 70px;
}

.smartphone {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 120px;
    top: 45px;
    cursor: pointer;
}

.logotext {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 25px;
    cursor: pointer;
    margin-left: 180px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;

    background: linear-gradient(266.5deg, #8BD5D3 16.49%, #575DB7 42.35%, #B856B8 73.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.smartphonetext {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 20px;
    top: 45px;
    cursor: pointer;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

}

.ENGLISH {
    position: absolute;
    width: 70px;
    height: 15px;
    right: 130px;
    top: 10px;
    cursor: pointer;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;

    background: linear-gradient(180deg, #000781 27.08%, #E50000 62.5%, #FFFFFF 79.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.VIETNAMESE {
    position: absolute;
    width: 70px;
    height: 15px;
    right: 70px;
    top: 10px;
    cursor: pointer;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
}

.signin {
    position: absolute;
    width: 70px;
    height: 50px;
    right: 460px;
    top: 20px;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 85px;

    color: #1F212D;
}

.VIRTUAL {
    position: absolute;
    width: 130px;
    height: 50px;
    right: 300px;
    top: 20px;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 85px;

    color: #1F212D;
}

.story {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 160px;
    top: 20px;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 85px;

    color: #1F212D;
}

.line {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 75px;
    top: 15px;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 85px;

    color: #1F212D;
}